.classpath
!.gitignore

!.mvn/
!.project
!pom.xml
!.classpath
!src/
src/*
!src/main/
src/main/*
!src/main/java/
src/main/java/*
!src/main/java/com/
src/main/java/com/*


# test
!src/test/
src/test/*
!src/test/java/
src/test/java/*
!src/test/java/com/
src/test/java/com/*
!src/test/java/com/mayab/
src/test/java/com/mayab/*
!src/test/java/com/mayab/quality/
src/test/java/com/mayab/quality/*
!src/test/java/com/mayab/quality/functional/
src/test/java/com/mayab/quality/functional/*
!src/test/java/com/mayab/quality/functional/CRUDSeleniumTest.java


# XML resources
!src/resources/
src/resources/*
!src/resources/createUser.xml
!src/resources/deleteUser.xml
!src/resources/initDB.xml
!src/resources/updateUser.xml

# Java-specific ignore patterns
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
.mtj.tmp/
*.ctxt
/target/
